/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$dark: #424652;

html {
  background:#d8d8d8;
}

.row > div,.container {
  transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out
}

#message{
    margin-left: 350px;
    .alert{
      background: #f91111;
      color: #fff;
      width: 500px;
      height: 50px;
    }
    .notice{
      background: #0998c4;
      color: #fff;
      width: 500px;
      padding: 25px;
    }
}

body {
  font-family: 'Raleway', sans-serif
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  color: #424652;
}

h1 {
  font-size: 2.5rem;
}
.wrapper {
  background:#d8d8d8;
}

.content-inner {
  background:#fff
}

h1,h2,h3,h4,h5,h6,p {
  margin:0 0 1em;
  padding:0
}

a {
  cursor:pointer;
  text-decoration:none!important;
  transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out
}

.inline-block {
  display:inline-block
}

.skills{
  float: right;
  padding-right: 50px;
}

.hidden{
  display: none;
}

.app{
  padding: 10px;
}
.app:hover{
  background: #33d6d1;
  color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  i{
    color: black;
  }
  i:hover{
    opacity: 0.5;
  }
}

img{
  width: 500px;
  height: 300px;
  padding:1px;
  border:2px solid #021a40;
}
img:hover{
  opacity: 0.5;
}

/* Navigation */
.navbar-header{
  margin: -15px;
  padding:0  15px;
  background: #fff;}

.navbar-collapse{
  width: 100%;
}

.navbar-toggle {
  border:0;
  border-radius:0;
  margin:20px 15px
}

.navbar-toggle .icon-bar {
  background:#333;
  height:2px;
  border-radius:2px
}

.navbar-brand {
  font-weight:500;
  border:3px solid #3f3f3f;
  margin:15px;
  padding:8px 14px 7px;
  font-size:1.3em;
  height:auto;
  color:#3f3f3f;
}

.navbar-brand:hover {
  color:#20b2ad;
  border-color:#20b2ad;
}

.social li a {
  padding-right:0
}

.navbar-nav>li>a {
  display:block;
  margin:12px 0;
  color:#999;

  transition:color .25s ease-in-out;
  -moz-transition:color .25s ease-in-out;
  -o-transition:color .25s ease-in-out;
  -webkit-transition:color .25s ease-in-out
}

.navbar-nav>li>a:hover{
  background:none;
  color:#20b2ad;

}
.navbar-nav>li>a:focus{
  background:none;
}

.social li{
  display: inline-block}

/* Intro */
.intro {
  margin:0 0 1.5em;
  font-size:1.8em;
  line-height:1.6em
}

.intro span {
  font-weight:100
}

/* Grid List  */
.grid-list-wrapper {
  margin:0 0 4em
}

.grid-list {
  background:#fff;
  margin:0 0 3em
}

.grid-list img {
  width:100%;
  height:auto
}

.overlay a {
  color:#222;
  padding:1em 2em;
  display:block;
}

.overlay h2 {
  font-size:1.2em;
  line-height:1.35em;
  margin:0;
  padding:.5em 0
}

.overlay h3 {
  display:none;
  padding:0;
  font-size:1.2em;
  line-height:1em
}

.overlay span {
  text-transform:uppercase;
  font-weight:100;
  margin-right:1em
}

/* Footer */
footer {
  clear:both;
  padding:3em 0
}

.nav-footer {
  margin:0;
  padding:0
}

.nav-footer ul {
  margin:0;
  padding:0;
  text-align:center
}

.nav-footer li {
  list-style:none;
  margin:.5em;
  display:inline-block
}

.nav-footer a {
  color:#999;
  transition:color .25s ease-in-out;
  -moz-transition:color .25s ease-in-out;
  -o-transition:color .25s ease-in-out;
  -webkit-transition:color .25s ease-in-out
}

.nav-footer a:hover {
  color:#1eadef
}

header {
  margin:15px
}

footer p {
  margin:0
}

.credits {
  color:#c4c4c4;
  font-weight:100;
  margin:7px 0
}

.navbar-brand-wrapper {
  margin:3em 0 2em;
  opacity:.2
}

footer .navbar-brand {
  float:none;
  text-align:center;
  width:100%
}

footer {
  background:#fff
}

.wrapper footer .container {
  box-shadow:none
}

.grid-list-wrapper li {
  list-style:none;
}


@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
  .overlay{
    min-height: 90px;
  }

  header {
    background:#fff;
    margin:2em 15px;
    padding:20px 30px
  }

  .navbar-header{
    margin: 0;
    padding:0;
    background: #fff;}

  .intro {
    font-size:1.6em;
    margin:0 0 .9em
  }

  .navbar-nav.social {
    float:right
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .overlay {
    font-size:120%
  }

  .wrapper-inner {
    padding:10px 50px
  }

  .portfolio-item.wrapper-inner {
    padding:1em 10em
  }

  .overlay h3 {
    display:block;
    line-height:1.5em
  }

  .overlay h3 span {
    display:block;
    opacity:.34
  }

  .overlay h3 span:hover {
    opacity:.54
  }

  header {
    background:#fff;
    margin:0;
    padding:0
  }

  .no-gutter-space {
    margin:0
  }

  .no-gutter-space > div {
    margin:0;
    padding:0
  }

  .overlay {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    transition:opacity .25s ease-in-out;
    -o-transition:opacity .25s ease-in-out;
    -moz-transition:opacity .25s ease-in-out;
    -webkit-transition:opacity .25s ease-in-out;
    opacity:0;
    background:#f5f5f5;
    background:rgba(0,0,0,.5)
  }

  .grid-list:hover .overlay {
    opacity:1
  }

  .overlay a {
    font-size:.8em;
    color:#fff;
    height:100%;
    width:100%;
    display:block
  }

  .grid-list {
    margin:0;
    padding:0
  }

  .navbar {
    padding:3em 50px 1em
  }

  .intro {
    padding:0 50px 2em
  }

  .wrapper .container {
    padding:0;
    background:#fff
  }

  .wrapper {
    padding:0 0 4em;
    margin:3em 0 0;
    clear:both
  }

  .wrapper .container {
    box-shadow:0 0 20px rgba(0,0,0,.05)
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .wrapper {
    padding:0 0 5em;
    clear:both
  }
}

//css for contacts
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.9em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.9em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.9em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.9em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.9em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.9em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.9em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.9em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

.contactme{
  text-align: center;

}

h5{
  color:#c4c4c4;
  font-weight:100;
  margin:7px 0

}
.center{
  text-align: center;
  font-family: 'Lato', sans-serif
}

.info{
  padding: 15px;
  padding-bottom: 5px;
  text-align: center;
}
.info:hover{
  background: #20a09c;
  color: #fff;
}

#form {
  position: relative;
  width: 600px;
  /*margin: 50px auto 100px auto;*/
  margin-left: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  width: 600px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #211d1a;

  border: solid 1px #353535;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background:#20a09c;
  color: #fff;
}

textarea {
  width: 600px;
  height: 150px;
  max-height: 150px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #211d1a;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #353535;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  /*background: #b3aca7;*/
  background: #20a09c;
  color: #fff;
}

#submit {
  width: 600px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #353535;
  border-top: none;
}

#submit:hover {
  background: #20db7a;
  color: #fff;
}
